<!doctype html>
<html data-ng-app="tholos" data-ng-controller="page">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>THOLOS</title>
<link href="css/foundation.css" rel="stylesheet" type="text/css">
<link href="css/screen.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="wrapper" data-ng-class="{'login': !global.logged,'no-footer': !global.footerLess}">
    <header data-ng-show="global.headLess" data-ng-cloak>
    	<div class="row">
      	<div class="medium-4 columns">
    			<h1>THOLOS</h1>
        </div>
        <div class="medium-8 columns">
          <div class="welcome-panel right">
            <div class="left user-infor">
              <a href="javascript:;"><img src="{{currentUser.UserpicPath}}" class="left" alt="{{currentUser.Name}}" /></a>
              <div class="left infor">
                <a href="javascript:;">{{currentUser.Name}}</a>
                <span>{{currentUser.Roles[0].Name}}</span>
              </div>
            </div>
            <!--/ .user-infor -->
            <a href="javascript:;" class="left icon logout" data-ng-click="logout();"></a>
          </div>
          <!--/ .welcome-panel -->
        </div>
      </div>
    </header>
    <!--/ Header -->
    <div data-ng-view data-autoscroll></div>
  </div>
  <!--/ Wrapper --> 
  <footer data-ng-show="global.footerLess" data-ng-cloak>Copyright 2015</footer>
  <!--/ Footer -->
  
  <script src="lib/jquery/jquery-2.1.4.js" type="text/javascript"></script>
  <script src="lib/jquery/jquery-ui.js" type="text/javascript"></script>
  <script src="lib/jquery/jquery.ui.touch-punch.js" type="text/javascript"></script>
  <script src="lib/angular/angular.js" type="text/javascript"></script>
  <script src="lib/angular/angular-route.js" type="text/javascript"></script>
  <script src="lib/angular/angular-sanitize.js" type="text/javascript"></script>
  <script src="lib/angular/angular-cookies.js" type="text/javascript"></script>
  <script src="lib/angular/angular-touch.js" type="text/javascript"></script>
  <script src="lib/angular-dragdrop.js" type="text/javascript"></script>
  <script src="lib/slick.js" type="text/javascript"></script>
  <script src="lib/select.js" type="text/javascript"></script>
  <script src="lib/date.js" type="text/javascript"></script>
  <script src="lib/ng-flow.js" type="text/javascript"></script>
  <script src="lib/ng-flow-standalone.js" type="text/javascript"></script>
  <script src="lib/fusty-flow-factory.js" type="text/javascript"></script>
  <script src="lib/fusty-flow.js" type="text/javascript"></script>
  <script src="lib/slider.js" type="text/javascript"></script>
  <script src="lib/ng-slick.js" type="text/javascript"></script> 
  <script src="lib/matchmedia-ng.js" type="text/javascript"></script>
  <!--/ Library -->
 	
  <script src="js/controllers.js" type="text/javascript"></script>
  <script src="js/directives.js" type="text/javascript"></script>
  <script src="js/filter.js" type="text/javascript"></script>
  <script src="js/services.js" type="text/javascript"></script> 
  <script src="js/app.js" type="text/javascript"></script>
  
</body>
</html>
